.contacts{
  position: relative;
}
.contacts__map-container{
  overflow: hidden;
}
.contacts__map{
  width: 100%;
}

.contacts__triangle{
  position: absolute;
  width: 100%;
  margin-top: -1px;
  z-index: 1;
}
.contacts__wrapper{
  background-color: white;
  padding-top: 5px;
  padding-bottom: 15px;
}
.contacts__block{
  text-align: center;
  b{
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #283645;
    margin-bottom: 5px;
  }
  p{
    display: block;
    font-size: 24px;
    line-height: 30px;
    color: #d22856;
    font-weight: 100;
    margin-bottom: 22px;
  }
}
@media (min-width: 700px) {
  .contacts__wrapper{
    padding-top: 25px;
  }
  .contacts__block{
    p{
      margin-bottom: 50px;
    }
  }
  .contacts__block:first-child{
    width: 50%;
  }
  .contacts__block:nth-child(2){
    width: 50%;
  }
  .contacts__block:last-child{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    p{
      margin-bottom: 0;
    }
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper{
    padding-top: 30px;
    padding-bottom: 2px;
  }
  .contacts__block{
    padding-left: 15px;
    padding-right: 15px;
    b{
      margin-bottom: 25px;
    }
    p{
      margin-bottom: 0;
    }
  }
  .contacts__block:first-child{
    width: 34%;
    display: block;
  }
  .contacts__block:nth-child(2){
    order: 3;
    width: 34%;
    display: block;
  }
  .contacts__block:last-child{
    order: 2;
    width: 34%;
    p{
      margin-bottom: 0;
    }
  }
}