.main-content{
  min-width: 320px;
}
.main-content__desktop-visible{
  display: none;
}
.main-content--contest, .main-content--photos{
  background-color: white;
}
.main-content__mobile-invisible {
  display: none;
}
@media (min-width: 700px) {
  .main-content__mobile-invisible {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #283645;
  }
}
@media (min-width: 1200px) {
  .main-content--contest {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content--photos {
    margin-bottom: 15px;
  }
}